/* Navbar.css */

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color:#66FCF1 !important;
  }
  .navbar-toggler-icon{
    background-color: #66FCF1;
  }
  .constomcss {
    background-color: #0B0C10;
  }
  
  .btnstyle {
    border-radius: 4px;
  }
  
  .btncolor {
    color: white;
  }
  
  .nav-link {
    font-weight: 500;
    transition: background-color 0.3s ease-in-out; /* Add transition for smooth effect */
    color: #66FCF1 !important;
  }
  
  .nav-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2); /* Add a transparent white background on hover */
    cursor:pointer;
  }